<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/shopping-cart">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Genera tu cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label>¿Qué deseas solicitar?</ion-label>
      </ion-item>
      <ion-label color="primary">
        <div style="border-bottom: 1px solid var(--ion-color-primary);"></div>
      </ion-label>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <ion-list class="ion-no-padding">
        <ion-card *ngFor="let item of itemsData">
          <ion-grid>
            <ion-row>
              <!-- Columna para la foto -->
              <ion-col size="4" class="ion-text-center">
                <ion-img [src]="generarRutaImg(item.nombre)" class="ion-img-center"></ion-img>
              </ion-col>
              <!-- Columna para el contenido -->
              <ion-col size="8">
                <ion-card-content class="ion-no-padding">
                  <ion-item class="ion-no-padding" lines="none">
                    <ion-card-title><b>{{ item.nombre }}</b></ion-card-title>
                    <ion-text slot="end" color="primary">
                      <p><b>(1)</b></p>
                    </ion-text>
                  </ion-item>
                  <ion-item class="ion-no-padding" lines="none">
                    <ion-text color="medium">
                      <p>{{ item.descripcion }}</p>
                    </ion-text>
                  </ion-item>
                  <ion-item class="ion-no-padding" lines="none">
                    <ion-label>{{ item.precio | currency:'MXN' }}</ion-label>
                  </ion-item>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label>¿En qué fecha y hora te gustaría agendar tu visita?</ion-label>
      </ion-item>
      <ion-label color="primary">
        <div style="border-bottom: 1px solid var(--ion-color-primary); margin-bottom: 10px;"></div>
      </ion-label>
      <ion-item>
        <ion-text>Abrimos de lunes a sábado de 10:00 am. a 9:00 pm. y los domingos de 10:00 am. a 3:00 pm.</ion-text>
      </ion-item>
    </ion-card-header>

    <ion-card-content class="custom-align">
      <ion-datetime [(ngModel)]="fecha_hora" displayFormat="DD/MM/YYYY HH:mm" min="2022-01-01T00:00:00"
        max="2024-12-31T23:59:59" placeholder="Selecciona fecha y hora"></ion-datetime>
      <!-- <ion-text color="danger" *ngIf="!selectedDateTime">
        Por favor, selecciona una fecha y hora.
      </ion-text> -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label>Información de contacto</ion-label>
      </ion-item>
      <ion-label color="primary">
        <div style="border-bottom: 1px solid var(--ion-color-primary); margin-bottom: 10px;"></div>
      </ion-label>
      <ion-item>
        <ion-text>Estos detalles se usarán para confirmar tu cita y enviarte un amigable recordatorio.</ion-text>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none" class="ion-margin-bottom">
        <ion-input type="text" placeholder="Nombre(s)" name="nombre" required minlength="3"
          pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]*" errorText="Por favor, ingresa un nombre válido" ngModel
          [(ngModel)]="nombre"></ion-input>
        <ion-icon slot="start" name="person"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="ion-margin-bottom">
        <ion-input type="text" placeholder="Apellido paterno" name="apellidoP" required minlength="3"
          pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]*" errorText="Agrega un apellido válido" ngModel
          [(ngModel)]="apellidoP"></ion-input>
          <ion-icon slot="start" name="people"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="ion-margin-bottom">
        <ion-input type="text" placeholder="Apellido materno" name="apellidoM" required minlength="3"
          pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]*" errorText="Agrega un apellido válido" ngModel
          [(ngModel)]="apellidoM"></ion-input>
          <ion-icon slot="start" name="people"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="ion-margin-bottom">
        <ion-input type="email" placeholder="Correo electrónico" name="email" required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          errorText="Por favor, introduce un correo electrónico válido. Por ejemplo: usuario@ejemplo.com" ngModel
          [(ngModel)]="email"></ion-input>
        <ion-icon slot="start" name="mail"></ion-icon>
      </ion-item>

      <ion-item lines="none" class="ion-margin-bottom">
        <ion-input type="tel" placeholder="Número de teléfono" name="telefono" pattern="^[0-9]{10}$" maxlength="10"
          minlength="10" errorText="El número de teléfono debe contener 10 dígitos." ngModel
          [(ngModel)]="telefono"></ion-input>
        <ion-icon slot="start" name="call"></ion-icon>
      </ion-item>
    </ion-card-content>


    <ion-label color="primary">
      <div style="border-bottom: 1px solid var(--ion-color-primary); margin-bottom: 10px;"></div>
    </ion-label>

    <ion-item lines="none" class="ion-padding-horizontal ion-margin-bottom">
      <ion-label>¿Ya tienes una cuenta?</ion-label>
      <ion-button fill="clear" color="primary" routerLink="/login">Inicia sesión</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-button expand="block" color="primary" (click)="setOpen(true)">Siguiente</ion-button>
  </ion-card>
</ion-content>

<!-- Modal -->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="setOpen(false)">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Confirma tu información</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-card>
        <ion-card-header>
          <ion-item class="ion-margin-bottom">
            <ion-text>
              <p>Asegúrate de que toda tu información sea correcta y luego haz clic en 'Aceptar' para programar tu
                cita.</p>
            </ion-text>
          </ion-item>
          <ion-label color="primary">
            <div style="border-bottom: 1px solid var(--ion-color-primary); margin-bottom: 10px;"></div>
          </ion-label>

          <ion-card-title class="ion-margin-horizontal">Flack's Barber Shop</ion-card-title>
          <ion-card-subtitle class="ion-margin-horizontal">Cerca de, Av 1333, México, 94520 Córdoba,
            Ver.</ion-card-subtitle>

        </ion-card-header>

        <ion-card-content class="ion-padding">
          <ion-list>
            <!-- Mostrar el resumen de los servicios -->
            <ion-card *ngFor="let item of itemsData">
              <ion-grid>
                <ion-row>
                  <!-- Columna para la foto -->
                  <ion-col size="4" class="ion-text-center">
                    <!-- <ion-img [src]="generarRutaImg(item.nombre)" class="ion-img-center"></ion-img> -->
                  </ion-col>
                  <!-- Columna para el contenido -->
                  <ion-col size="8">
                    <ion-card-content class="ion-no-padding">
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-card-title><b>{{ item.nombre }}</b></ion-card-title>
                        <ion-text slot="end" color="primary">
                          <p><b>(1)</b></p>
                        </ion-text>
                      </ion-item>
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-text color="medium">
                          <p>{{ item.descripcion }}</p>
                        </ion-text>
                      </ion-item>
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-label>{{ item.precio | currency:'MXN' }}</ion-label>
                      </ion-item>
                    </ion-card-content>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>

            <!-- Mostrar la fecha y hora seleccionadas -->
            <ion-item>
              <ion-label>Fecha y hora:</ion-label>
              <ion-text slot="end" color="medium">{{ fecha_hora }}</ion-text>
            </ion-item>

            <!-- Mostrar los datos de contacto -->
            <ion-item>
              <ion-label>Nombre:</ion-label>
              <ion-text slot="end" color="medium">{{ nombre }}</ion-text>
            </ion-item>

            <ion-item>
              <ion-label>Apellido paterno:</ion-label>
              <ion-text slot="end" color="medium">{{ apellidoP }}</ion-text>
            </ion-item>

            <ion-item>
              <ion-label>Apellido materno:</ion-label>
              <ion-text slot="end" color="medium">{{ apellidoM }}</ion-text>
            </ion-item>

            <ion-item>
              <ion-label>Correo electrónico:</ion-label>
              <ion-text slot="end" color="medium">{{ email }}</ion-text>
            </ion-item>

            <ion-item>
              <ion-label>Teléfono:</ion-label>
              <ion-text slot="end" color="medium">{{ telefono }}</ion-text>
            </ion-item>
          </ion-list>

          <ion-button expand="block" color="primary" id="present-alert" class="ion-margin-top"
            id="open-toast">Aceptar</ion-button>

          <ion-toast color="primary" trigger="open-toast" message="Cita programada correctamente" [duration]="7500"
            [buttons]="toastButtons" id="open-toast2"></ion-toast>

          <ion-toast trigger="open-toast2" message="Espera unos segundos, por favor" [duration]="3000"></ion-toast>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Elementos para el comprobante -->
<div id="element-to-print">
  <table style="width: 100%; border-collapse: collapse;">
    <tr style="padding: 10px; border-bottom: 1px solid; align-items: center; justify-content: center;">
      <div style="font-weight: bold; color: #333;" class="line">
        <h3>FLACK'S BARBER SHOP</h3>
      </div>
    </tr>
    <tr>
      <td style="padding: 10px">
        <div style="color: #333;">Id de facturación: {{ idTicket }}</div>
      </td>
    </tr>
    <!-- Mostrar el método de pago y montos -->
    <tr>
      <td style="padding: 10px">
        <div style="color: #333;">Monto total: {{ monto_total }}</div>
        <div style="color: #333;">Monto pagado: {{ monto_pagado }}</div>
        <div style="color: #333;">Cambio: {{ cambio }}</div>
        <div style="color: #333;">Método de pago: {{ metodo_pago }}</div>
      </td>
    </tr>
    <!-- Mostrar empleado que recibe el pago -->
    <tr>
      <td style="padding: 10px; border-bottom: 1px solid;">
        <div style="color: #333;">Empleado que recibió el pago: {{ nombre_empleado }}</div>
      </td>
    </tr>
    <!-- Mostrar la fecha y hora seleccionadas -->
    <tr>
      <td style="padding: 10px; border-bottom: 1px solid;">
        <div style="color: #333;">Fecha de reservación: {{ fecha_hora }}</div>
      </td>
    </tr>
    <!-- Mostrar el resumen de los servicios -->
    <tr *ngFor="let item of itemsData">
      <td style="padding: 10px; border-bottom: 1px solid;">
        <div style="display: flex; align-items: center;">
          <!-- Columna para el contenido -->
          <div style="flex: 1; padding-left: 20px;">
            <div style="color: #333;">Nombre: {{ item.nombre }}</div>
            <!-- <div><img [src]="generarRutaImg(item.nombre)"></div> -->
            <div style="color: #333;">Precio: {{ item.precio | currency:'MXN' }}</div>
          </div>
        </div>
      </td>
    </tr>
    <!-- Mostrar los datos del barbero seleccionado -->
    <tr>
      <td style="padding: 10px;">
        <div style="font-weight: bold; color: #333;">Barbero asignado:</div>
        <div style="color: #333;">- Nombre: {{ nombre_barbero }}</div>
      </td>
    </tr>
  </table>
</div>