.custom-align {
  display: flex;
  justify-content: center;
}

ion-item {
  margin-left: 10px;
}

.ion-img-center {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.ion-text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-trash {
  cursor: pointer;
}

.line {
  text-align: center;
  margin-bottom: 20px; /* Ajusta el espacio entre la línea y el texto */
}

.line::before,
.line::after {
  content: "";
  display: inline-block;
  width: 50%; /* Ajusta la longitud de la línea */
  margin: 0 10px; /* Ajusta el espacio entre la línea y el texto */
  border-top: 1px solid black; /* Establece el color y grosor de la línea */
}


// #element-to-print div {
//   display: none;
// }