<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding-horizontal">
    <ion-chip routerLink="/edit-profile">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Invitado</ion-label>
    </ion-chip>
    <ion-buttons slot="end">
      <ion-button routerLink="/configuration">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenido principal -->
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Crema para la barba</ion-card-title>
      <ion-card-subtitle>Producto (1)</ion-card-subtitle>
      <ion-card-subtitle>Total: $100.00 MXN</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Crema para la barba con aceite de argán.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Crema para la barba</ion-card-title>
      <ion-card-subtitle>Producto (1)</ion-card-subtitle>
      <ion-card-subtitle>Total: $100.00 MXN</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Crema para la barba con aceite de argán.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Crema para la barba</ion-card-title>
      <ion-card-subtitle>Producto (1)</ion-card-subtitle>
      <ion-card-subtitle>Total: $100.00 MXN</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Crema para la barba con aceite de argán.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Crema para la barba</ion-card-title>
      <ion-card-subtitle>Producto (1)</ion-card-subtitle>
      <ion-card-subtitle>Total: $100.00 MXN</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Crema para la barba con aceite de argán.</p>
    </ion-card-content>
  </ion-card>

</ion-content>