<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Imagen del corte" src="assets/img/corte1.png" class="ion-text-center ion-align-items-center"/>
    <ion-card-header>
      <ion-card-title>
        <ion-text class="ion-margin-start">
          <b>Corte desvanecido</b>
        </ion-text>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-text class="ion-margin-right">Valoración: </ion-text>
        <ion-item>
          <ion-icon name="star-outline" id="star"></ion-icon>
          <ion-icon name="star-outline" id="star"></ion-icon>
          <ion-icon name="star-outline" id="star"></ion-icon>
          <ion-icon name="star-outline" id="star"></ion-icon>
          <ion-icon name="star-outline" id="star"></ion-icon>
        </ion-item>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="primary">
          <b>$100.00 MXN</b>
        </ion-label>
      </ion-item>

      <ion-label color="primary">
        <div style="border-bottom: 1px solid var(--ion-color-primary); margin-bottom: 10px;"></div>
      </ion-label>

      <ion-item lines="none">
        <ion-label><b>45 - 60 min</b></ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-text>
          Un corte que se caracteriza por tener un aspecto limpio y bien definido.
        </ion-text>
      </ion-item>

      <ion-button expand="block" class="ion-margin-vertical" color="primary" routerLink="/reservations">
        Reservar servicio
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>