<ion-content [fullscreen]="true" class="ion-padding">

  <ion-img src="assets/img/logo_flacks.png" class="logo-img ion-margin"></ion-img>

  <ion-text class="ion-text-center ion-margin-bottom">
    <h1><b>Flack's Cut & Connect</b></h1>
  </ion-text>

  <ion-text class="ion-text-center ion-margin-bottom">
    <p class="text">La aplicación móvil oficial de Flack's Barber Shop</p>
  </ion-text>

  <ion-button fill="clear" class="ion-margin-bottom" expand="block" color="primary" (click)="loginAsInvite()">
    ¿Deseas continuar como invitado?
  </ion-button>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input
      type="email"
      name="email"
      placeholder="Correo electrónico"
      required
      errorText="Por favor, introduce un correo electrónico válido"
      ngModel #emailField="ngModel"
      ></ion-input>
      <ion-icon slot="start" name="mail"></ion-icon>
    </ion-item>


    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input
      type="password"
      name="password"
      placeholder="Contraseña"
      required
      pattern=".{8,}"
      errorText="La contraseña debe tener al menos 8 caracteres"
      ngModel #passwordField="ngModel"
      ></ion-input>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
    </ion-item>


    <ion-item lines="none" class="ion-no-padding transparent ion-text-center">
      <ion-checkbox slot="start" class="ion-no-margin chk"></ion-checkbox>
      <ion-label>Recuérdame</ion-label>
    </ion-item>

    <ion-button fill="clear" class="ion-margin-bottom" expand="block" color="primary">
      ¿Olvidaste tu contraseña?
    </ion-button>
  

    <ion-button expand="block" class="ion-margin-bottom" color="primary" type="submit" [disabled]="emailField.invalid || passwordField.invalid">
      Iniciar sesión
    </ion-button>

    <ion-button expand="block" class="ion-margin-bottom" color="primary" routerLink="/home">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Iniciar sesión con Google
    </ion-button>

    <ion-item *ngIf="showError" class="ion-margin-bottom transparent">
      <ion-text color="danger">
        <p>Llena todos los campos primero o verifica que tus datos sean correctos</p>
      </ion-text>
    </ion-item>
  </form>

  <ion-item lines="none" class="ion-no-padding ion-text-center transparent">
    <ion-label>¿No tienes una cuenta?</ion-label>
  </ion-item>

  <ion-button fill="clear" expand="block" color="primary" routerLink="/sign-up">
    Regístrate
  </ion-button>

</ion-content>