<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding-horizontal">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-grid>
      <ion-row>
        <!-- Columna para la foto y la marca -->
        <ion-col size="4" class="ion-text-center">
          <ion-img src="assets/img/items/crema_para_la_barba.png" class="ion-img-center" routerLink="/crema-barba"></ion-img>
          <ion-card-header>
            <ion-card-title color="primary">Imperial</ion-card-title>
          </ion-card-header>
        </ion-col>
        <!-- Columna para el contenido -->
        <ion-col size="8">
          <ion-card-content>
            <ion-card-title><b>Crema para la barba</b></ion-card-title>
            <ion-item class="ion-no-padding">
              <ion-chip slot="start">
                <ion-label>Chuchito</ion-label>
              </ion-chip>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
            </ion-item>
            <p>¡La crema de afeitar Imperial es simplemente excepcional! La suavidad y el aroma son incomparables.
              Además,
              el envase es muy elegante. Definitivamente, mi elección número uno para el afeitado diario.</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <!-- Columna para la foto y la marca -->
        <ion-col size="4" class="ion-text-center">
          <ion-img src="assets/img/items/polvo_voluminizador.png" class="ion-img-center" routerLink="/polvo"></ion-img>
          <ion-card-header>
            <ion-card-title color="primary">4x4</ion-card-title>
          </ion-card-header>
        </ion-col>
        <!-- Columna para el contenido -->
        <ion-col size="8">
          <ion-card-content>
            <ion-card-title><b>Polvo voluminizador</b></ion-card-title>
            <ion-item class="ion-no-padding">
              <ion-chip slot="start">
                <ion-label>Bet-birai</ion-label>
              </ion-chip>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
            </ion-item>
            <p>El polvo voluminizador ha sido mi secreto para lograr un look impecable. Aporta volumen sin apelmazar, y
              su aroma es sutil. Un must-have para quienes buscan ese extra en su estilo.</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <!-- Columna para la foto y la marca -->
        <ion-col size="4" class="ion-text-center">
          <ion-img src="assets/img/items/bálsamo_para_la_barba.png" class="ion-img-center" routerLink="balsamo-barba"></ion-img>
          <ion-card-header>
            <ion-card-title color="primary">Don Porfirio</ion-card-title>
          </ion-card-header>
        </ion-col>
        <!-- Columna para el contenido -->
        <ion-col size="8">
          <ion-card-content>
            <ion-card-title><b>Bálsamo para la barba</b></ion-card-title>
            <ion-item class="ion-no-padding">
              <ion-chip slot="start">
                <ion-label>Yeirn Axel</ion-label>
              </ion-chip>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-icon name="star" color="primary"></ion-icon>
            </ion-item>
            <p>El bálsamo para la barba ha revolucionado mi rutina. Nutre y suaviza mi barba, eliminando cualquier
              sensación de resequedad. Además, el aroma masculino perdura. ¡Indispensable para mantener una barba
              impecable!</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>