<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding-horizontal">
    <ion-chip routerLink="/edit-profile">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Invitado</ion-label>
    </ion-chip>
    <ion-buttons slot="end">
      <ion-button routerLink="/configuration">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/crema-barba">
          <img src="\assets\img\producto1.jpg"/>
          <ion-card-header>
            <ion-label>Imperial</ion-label>
            <ion-card-title>Crema para la barba</ion-card-title>
            <ion-label>$100.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/pomada-barba">
          <img src="\assets\img\producto2.jpg"/>
          <ion-card-header>
            <ion-label>Imperial</ion-label>
            <ion-card-title>Pomada para la barba</ion-card-title>
            <ion-label>$100.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/crema">
          <img src="\assets\img\producto3.png">
          <ion-card-header>
            <ion-label>Concha nácar</ion-label>
            <ion-card-title>Crema</ion-card-title>
            <ion-label>$80.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/balsamo-barba">
          <img src="\assets\img\producto4.jpg"/>
          <ion-card-header>
            <ion-label>Don Porfirio</ion-label>
            <ion-card-title>Bálsamo para la barba</ion-card-title>
            <ion-label>$100.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/polvo">
          <img src="\assets\img\producto5.png"/>
          <ion-card-header>
            <ion-label>4x4</ion-label>
            <ion-card-title>Polvo voluminizador</ion-card-title>
            <ion-label>$150.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/fibra">
          <img src="\assets\img\producto6.png"/>
          <ion-card-header>
            <ion-label>Toppik</ion-label>
            <ion-card-title>Fibra para el cabello</ion-card-title>
            <ion-label>$80.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/shampoo">
          <img src="\assets\img\producto7.png"/>
          <ion-card-header>
            <ion-label>Grave before shave</ion-label>
            <ion-card-title>Shampoo para la barba</ion-card-title>
            <ion-label>$130.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/cera">
          <img src="\assets\img\producto8.png"/>
          <ion-card-header>
            <ion-label>Fisticuffs</ion-label>
            <ion-card-title>Cera</ion-card-title>
            <ion-label>$120.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>