<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding-horizontal">
    <ion-chip routerLink="/edit-profile">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Invitado</ion-label>
    </ion-chip>
    <ion-buttons slot="end">
      <ion-button routerLink="/configuration">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/crema">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-label>Marca</ion-label>
            <ion-card-title>Nombre del producto</ion-card-title>
            <ion-label>Precio</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-label>Marca</ion-label>
            <ion-card-title>Nombre del producto</ion-card-title>
            <ion-label>Precio</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-label>Marca</ion-label>
            <ion-card-title>Nombre del producto</ion-card-title>
            <ion-label>Precio</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-label>Marca</ion-label>
            <ion-card-title>Nombre del producto</ion-card-title>
            <ion-label>Precio</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-label>Marca</ion-label>
            <ion-card-title>Nombre del producto</ion-card-title>
            <ion-label>Precio</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-label>Marca</ion-label>
            <ion-card-title>Nombre del producto</ion-card-title>
            <ion-label>Precio</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-label>Marca</ion-label>
            <ion-card-title>Nombre del producto</ion-card-title>
            <ion-label>Precio</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-label>Marca</ion-label>
            <ion-card-title>Nombre del producto</ion-card-title>
            <ion-label>Precio</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>