<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <ion-grid class="container-grid">
    <ion-row class="container-row">
      <ion-col size="6" size-md="4" size-lg="2" class="container-col">
        <ion-card routerLink="/services" class="card-content">
          <img src="/assets/img/home/servicios.png" />
          <ion-card-header>
            <ion-card-title>Servicios</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2" class="container-col">
        <ion-card routerLink="/products" class="card-content">
          <img src="/assets/img/home/productos.png" />
          <ion-card-header>
            <ion-card-title>Productos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2" class="container-col">
        <ion-card routerLink="/reviews" class="card-content">
          <img src="/assets/img/home/resenas.png" />
          <ion-card-header>
            <ion-card-title>Reseñas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2" class="container-col">
        <ion-card routerLink="/contact-us" class="card-content">
          <img src="/assets/img/home/contactanos.png" />
          <ion-card-header>
            <ion-card-title>Contáctanos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2" class="container-col">
        <ion-card routerLink="/history" class="card-content">
          <img src="\assets\img\home/historial.png" />
          <ion-card-header>
            <ion-card-title>Historial de actividad</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2" class="container-col">
        <ion-card routerLink="/find-us" class="card-content">
          <img src="\assets\img\home/encuentranos.png" />
          <ion-card-header>
            <ion-card-title>Encuentranos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
