<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding-horizontal">
    <ion-chip routerLink="/edit-profile">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Invitado</ion-label>
    </ion-chip>
    <ion-buttons slot="end">
      <ion-button routerLink="/configuration">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/desvanecido">
          <img src="\assets\img\corte1.png" />
          <ion-card-header>
            <ion-label>45 - 60 min</ion-label>
            <ion-card-title class="ion-margin-bottom">Corte desvanecido</ion-card-title>
            <ion-label>$100.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/arreglo-barba">
          <img src="\assets\img\corte2.png" />
          <ion-card-header>
            <ion-label>30 min</ion-label>
            <ion-card-title class="ion-margin-bottom">Arreglo de barba</ion-card-title>
            <ion-label>$150.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/corte-escolar">
          <img src="\assets\img\corte3.png" />
          <ion-card-header>
            <ion-label>30 min</ion-label>
            <ion-card-title class="ion-margin-bottom">Corte escolar</ion-card-title>
            <ion-label>$80.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/afeitado">
          <img src="\assets\img\corte4.png" />
          <ion-card-header>
            <ion-label>15 - 20 min</ion-label>
            <ion-card-title class="ion-margin-bottom">Afeitado express</ion-card-title>
            <ion-label>$90.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/disenos">
          <img src="\assets\img\corte5.png" />
          <ion-card-header>
            <ion-label></ion-label>
            <ion-card-title class="ion-margin-bottom">Diseños</ion-card-title>
            <ion-label></ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/arreglo-ceja">
          <img src="\assets\img\corte6.png" />
          <ion-card-header>
            <ion-label>10 min</ion-label>
            <ion-card-title class="ion-margin-bottom">Arreglo de ceja</ion-card-title>
            <ion-label>$100.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card routerLink="/mascarilla">
          <img src="\assets\img\corte7.png" />
          <ion-card-header>
            <ion-label>60 min</ion-label>
            <ion-card-title class="ion-margin-bottom">Mascarilla facial</ion-card-title>
            <ion-label>$130.00 MXN</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
