<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding-horizontal">
    <ion-chip routerLink="/edit-profile">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Invitado</ion-label>
    </ion-chip>
    <ion-buttons slot="end">
      <ion-button routerLink="/configuration">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenido principal -->
  <ion-card>
    <ion-grid>
      <ion-row>
        <!-- Columna para la foto -->
        <ion-col size="4" class="ion-text-center">
          <ion-img src="/assets/img/producto1.jpg" class="ion-img-center"></ion-img>
        </ion-col>
        <!-- Columna para el contenido -->
        <ion-col size="8">
          <ion-card-content class="ion-no-padding">
            <ion-item class="ion-no-padding" lines="none">
              <ion-card-title><b>Crema para la barba</b></ion-card-title>
              <ion-text slot="end" color="primary">
                <p><b>(1)</b></p>
              </ion-text>
            </ion-item>
            <ion-item class="ion-no-padding" lines="none">
              <ion-text color="medium">
                <p>Crema para la barba con aceite de argán.</p>
              </ion-text>
            </ion-item>

            <ion-item class="ion-no-padding" lines="none">
              <ion-label>$100 MXN</ion-label>
              <ion-text color="medium" slot="end">
                <p>12/02/2024</p>
              </ion-text>
            </ion-item>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-img src="/assets/img/corte3.png" class="ion-img-center"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-card-content class="ion-no-padding">
          <ion-item class="ion-no-padding" lines="none">
            <ion-card-title><b>Corte escolar</b></ion-card-title>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-text color="medium">
              <p>Corte de cabello clásico para estudiantes.</p>
            </ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>$80 MXN</ion-label>
            <ion-text color="medium" slot="end">
              <p>08/01/2024</p>
            </ion-text>
          </ion-item>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-img src="/assets/img/producto8.png" class="ion-img-center"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-card-content class="ion-no-padding">
          <ion-item class="ion-no-padding" lines="none">
            <ion-card-title><b>Cera</b></ion-card-title>
            <ion-text slot="end" color="primary">
              <p><b>(1)</b></p>
            </ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-text color="medium">
              <p>Cera para peinar con fijación media.</p>
            </ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>$120 MXN</ion-label>
            <ion-text color="medium" slot="end">
              <p>01/12/2023</p>
            </ion-text>
          </ion-item>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-img src="/assets/img/corte1.png" class="ion-img-center"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-card-content class="ion-no-padding">
          <ion-item class="ion-no-padding" lines="none">
            <ion-card-title><b>Corte desvanecido</b></ion-card-title>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-text color="medium">
              <p>Corte de cabello moderno con técnica de desvanecido.</p>
            </ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>$100 MXN</ion-label>
            <ion-text color="medium" slot="end">
              <p>12/11/2023</p>
            </ion-text>
          </ion-item>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-img src="/assets/img/producto2.jpg" class="ion-img-center"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-card-content class="ion-no-padding">
          <ion-item class="ion-no-padding" lines="none">
            <ion-card-title><b>Pomada para la barba</b></ion-card-title>
            <ion-text slot="end" color="primary">
              <p><b>(1)</b></p>
            </ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-text color="medium">
              <p>Pomada para dar forma y control a la barba.</p>
            </ion-text>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label>$100 MXN</ion-label>
            <ion-text color="medium" slot="end">
              <p>10/11/2023</p>
            </ion-text>
          </ion-item>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>


</ion-content>