.ion-img-center {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.ion-text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}