<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding-horizontal">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Flecha de retorno -->
  <ion-item lines="none" class="transparent">
    <ion-icon class="ion-activatable" routerLink="/tabs/home"name="arrow-back" style="cursor: pointer;"></ion-icon>
</ion-item>
  <ion-grid>
    <ion-row>
      <!-- Repetir para cada servicio -->
      <ion-col size="6" size-md="4" size-lg="2" *ngFor="let servicio of servicesData">
        <ion-card [routerLink]="['/service-details', servicio]">
          <img [src]="generarRutaImg(servicio.nombre)"/>
          <ion-card-header>
            <ion-label>{{ servicio.duracion }}</ion-label>
            <ion-card-title class="ion-margin-bottom">{{ servicio.nombre }}</ion-card-title>
            <ion-label>{{ servicio.precio | currency:'MXN' }}</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>